# Dependencies
node_modules/

# Environment files (IMPORTANT)
.env

# Python virtual environment
.venv/

# Logs
*.log

# OS files
.DS_Store
Thumbs.db

# Build folders
dist/
build/

# IDE files
.vscode/
.idea/

# Testing / temp files
test.js